*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #0e0d0d;
    
}

.main-container{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba,#b54);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    height: 450px;
}

input{
    padding: 12px;
    border: none;
    align-items: center;
    margin: 50px 10px;
    font-size: 16px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #13c230;
}

.weather-info{
   margin-top: 50px;
   color: #0e0d0d;

}

